@model ApplicationCore.Entities.UserProfile
@using ApplicationCore.Entities;
@using Infrastructure.Data;
@using Microsoft.AspNetCore.Identity;
@using SupplyChainManagement.Helper;
@using Syncfusion.EJ2.Inputs;
@inject UserManager<ApplicationUser> UserManager
@inject UserProfilesService userProfilesService
@{
    ViewData["Title"] = "Hồ sơ người dùng";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    UserProfile profile = await userProfilesService.GetByApplicationUserIdAsync(appUser.Id.ToString());
    var asyncSettings = new UploaderAsyncSettings
            {
                SaveUrl = "/api/UploadProfilePicture"
            };
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house-user"></i></a></li>
                        <li class="breadcrumb-item"><a asp-controller="UserRole" class="text-decoration-none">Quản lý Người dùng</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hồ sơ người dùng</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <div id='droparea'>
                            <img id="profilePicture" src="@profile.ProfilePicture" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <ejs-uploader id="uploadFiles" dropArea="#droparea" autoUpload="false" dropArea="#droparea"
                                          allowedExtensions=".jpg,.png" locale="vi-VN" multiple="false"
                                          asyncSettings="@asyncSettings" success="onUploadSuccess" failure="onUploadFailure" maxFileSize="5242880">
                            </ejs-uploader>
                        </div>
                        <h5 class="my-3">@profile.FullName</h5>
                        <p class="text-muted mb-4">@profile.Address.ToString()</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.FirstName)</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@profile.FirstName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.LastName)</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@profile.LastName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.Email)</p>
                            </div>
                            <div class="col-sm-9">
                                <a class="text-muted text-decoration-none mb-0" href="mailto:@profile.Email">@profile.Email</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.Phone)</p>
                            </div>
                            <div class="col-sm-9">
                                <a class="text-muted text-decoration-none mb-0" href="tel:@profile.Phone">@profile.Phone.ToPhoneString()</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">assigment</span> Project Status
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">assigment</span> Project Status
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles
    {
    <style>
        .e-upload {
            border: none;
        }

        .e-file-select,
        .e-file-drop {
            display: none;
        }

        body .e-upload-drag-hover {
            outline: 2px dashed blue;
        }
    </style>
    }

@section Scripts
    {
    <script>
        var L10n = ej.base.L10n;
        L10n.load({
            "vi-VN": {
                "uploader": {
                    "invalidMinFileSize": "Kích thước tệp quá nhỏ! Vui lòng tải lên các tệp có kích thước tối thiểu là 10KB",
                    "invalidMaxFileSize": "Kích thước tệp vượt quá 5MB",
                    "invalidFileType": "Loại tệp không được phép",
                    "Browse": "Chọn ảnh",
                    "Clear": "Xóa",
                    "Upload": "Tải lên",
                    "dropFilesHint": "hoặc thả tệp vào đây",
                    "uploadFailedMessage": "Không thể tải lên tệp",
                    "uploadSuccessMessage": "Tệp đã tải lên thành công",
                    "removedSuccessMessage": "Tệp đã xóa thành công",
                    "removedFailedMessage": "Không thể xóa tệp",
                    "inProgress": "Đang diễn ra",
                    "readyToUploadMessage": "Sẵn sàng tải lên",
                    "remove": "Thu hồi",
                    "cancel": "Hủy",
                    "delete": "Xóa tập tin"
                }
            }
        });
        function onUploadSuccess(args) {
            if (args.operation === 'upload') {
                location.reload();
            }
        }
        function onUploadFailure(args) {
            alert('Cập nhật ảnh đại diện thất bại!');
        }
    </script>
    }