@model ApplicationCore.Entities.UserProfile
@using ApplicationCore.Entities;
@using Infrastructure.Data;
@using Microsoft.AspNetCore.Identity;
@using SupplyChainManagement.Helper;
@using Syncfusion.EJ2.Inputs;
@inject UserManager<ApplicationUser> UserManager
@inject UserProfilesService userProfilesService
@{
    ViewData["Title"] = "Hồ sơ người dùng";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    UserProfile profile = await userProfilesService.GetByApplicationUserIdAsync(appUser.Id.ToString());
    var asyncSettings = new UploaderAsyncSettings
            {
                SaveUrl = "/api/UploadProfilePicture"
            };
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house-user"></i></a></li>
                        <li class="breadcrumb-item"><a asp-controller="UserRole" class="text-decoration-none">Quản lý Người dùng</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hồ sơ người dùng</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <div id='droparea'>
                            <img id="profilePicture" src="@profile.ProfilePicture" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <ejs-uploader id="uploadFiles" dropArea="#droparea" autoUpload="false" dropArea="#droparea"
                                          allowedExtensions=".jpg,.png" locale="vi-VN" multiple="false"
                                          asyncSettings="@asyncSettings" success="onUploadSuccess" failure="onUploadFailure" maxFileSize="5242880">
                            </ejs-uploader>
                        </div>
                        <h5 class="my-2">@profile.FullName</h5>
                        <div class="d-flex justify-content-center mb-2">
                            <a class="btn btn-sm btn-outline-primary ms-1" asp-controller="UserRole" asp-action="UserProfileEdit">Cập nhật thông tin</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.FirstName)</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@profile.FirstName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.LastName)</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@profile.LastName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.Birthday)</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@profile.Birthday.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.Email)</p>
                            </div>
                            <div class="col-sm-9">
                                <a class="text-muted text-decoration-none mb-0" href="mailto:@profile.Email">@profile.Email</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.Phone)</p>
                            </div>
                            <div class="col-sm-9">
                                <a class="text-muted text-decoration-none mb-0" href="tel:@profile.Phone">@profile.Phone.ToPhoneString()</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">@Html.DisplayNameFor(model => model.Address)</p>
                            </div>
                            <div class="col-sm-9">
                                <a class="text-muted text-decoration-none mb-0">@profile.Address.ToString()</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles
    {
    <style>
        .e-upload {
            border: none;
        }

        .e-file-select,
        .e-file-drop {
            display: none;
        }

        body .e-upload-drag-hover {
            outline: 2px dashed blue;
        }
    </style>
    }

@section Scripts
    {
    <script>
        function onUploadSuccess(args) {
            if (args.operation === 'upload') {
                location.reload();
            }
        }

        function onUploadFailure(args) {
            alert('Cập nhật ảnh đại diện thất bại!');
        }
    </script>
    }