@using ApplicationCore.Entities;
@using Infrastructure.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@inject UserProfilesService userProfilesService
@{
    ViewData["Title"] = "Quản lý hồ sơ";
    var profiles = await userProfilesService.GetAsync();
    List<object> commands = new List<object>();
    commands.Add(new { type = "userstatus", buttonOption = new { content = "Gán vai trò", cssClass = "e-flat", iconCss = "e-icons e-field-settings" } });
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house-user"></i></a></li>
                        <li class="breadcrumb-item"><a asp-controller="UserRole" class="text-decoration-none">Quản lý Người dùng</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Quản lý hồ sơ</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <ejs-message id="msg_info_filled" severity="Info" variant="Filled" content="Nhấp đúp chuột vào ô bên dưới để cập nhật hồ sơ"></ejs-message>
        </div>
        <div class="row mt-2">
            <ejs-grid id="Grid" allowPaging="true" allowSorting="true" allowFiltering="true" cssClass="border-0"
                      toolbar="@(new List<string>() { "Cancel", "Edit", "Update", "Search", "Print" })" locale="vi-VN"
                      printMode="CurrentPage" commandClick="commandClick">
                <e-grid-groupSettings showGroupedColumn="true" showDropArea="true"></e-grid-groupSettings>
                <e-data-manager json="@profiles.ToArray()" updateUrl="/api/UserProfile/UpdateByAdmin"
                                adaptor="RemoteSaveAdaptor"></e-data-manager>
                <e-grid-editSettings allowEditing="true" mode="Dialog"></e-grid-editSettings>
                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="FirstName" headerText="Họ và tên đệm" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="LastName" headerText="Tên" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="Phone" headerText="Số điện thoại" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="Email" headerText="Địa chỉ email" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="Birthday" headerText="Ngày sinh" customFormat="@(new { type ="date", format="dd/MM/yyyy" })"
                                   editType="datepickeredit" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column headerText="Hành động" commands="commands"> </e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        function commandClick(args) {
            var appUserId = args.rowData['ApplicationUserId'];
            window.location.href = '@Url.Action("ChangeRole", "UserRole")?applicationUserId=' + appUserId;
        }
    </script>
}