@model ApplicationCore.Entities.UserProfile
@using ApplicationCore.Entities;
@using Infrastructure.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@inject UserProfilesService userProfilesService
@{
    ViewData["Title"] = "Cập nhật hồ sơ";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    UserProfile profile = await userProfilesService.GetByApplicationUserIdAsync(appUser.Id.ToString());
    // For textboxs
    IDictionary<string, object> submit = new Dictionary<string, object>();
    IDictionary<string, object> firstname = new Dictionary<string, object>();
    IDictionary<string, object> lastname = new Dictionary<string, object>();
    IDictionary<string, object> phone = new Dictionary<string, object>();
    IDictionary<string, object> email = new Dictionary<string, object>();
    IDictionary<string, object> birthday = new Dictionary<string, object>();
    submit.Add("type", "submit");
    firstname.Add("name", nameof(UserProfile.FirstName));
    lastname.Add("name", nameof(UserProfile.LastName));
    phone.Add("name", nameof(UserProfile.Phone));
    email.Add("name", nameof(UserProfile.Email));
    birthday.Add("name", nameof(UserProfile.Birthday));
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house-user"></i></a></li>
                        <li class="breadcrumb-item"><a asp-controller="UserRole" asp-action="UserProfilesEdit" class="text-decoration-none">Quản lý Người dùng</a></li>
                        <li class="breadcrumb-item"><a asp-controller="UserRole" asp-action="UserProfile" class="text-decoration-none">Hồ sơ người dùng</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cập nhật hồ sơ</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mt-2">
            <form asp-controller="UserProfile" asp-action="Update" method="post" role="form">
                <input type="hidden" name="@nameof(UserProfile.UserProfileId)" value="@profile.UserProfileId">
                <div class="control-section">
                    <div class="control_wrapper accordion-control-section">
                        <div class="row mt-1">
                            <div class="col-6">
                                <h6>@Html.DisplayNameFor(model => model.FirstName)</h6>
                                <ejs-textbox id="firstname" showClearButton="true" htmlAttributes="firstname"
                                             floatLabelType="Never" value="@profile.FirstName"></ejs-textbox>
                            </div>
                            <div class="col-6">
                                <h6>@Html.DisplayNameFor(model => model.LastName)</h6>
                                <ejs-textbox id="lastname" showClearButton="true" htmlAttributes="lastname"
                                             floatLabelType="Never" value="@profile.LastName"></ejs-textbox>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>@Html.DisplayNameFor(model => model.Phone)</h6>
                                <ejs-maskedtextbox id="phone" mask="000 000 0000" htmlAttributes="phone"
                                                   floatLabelType="Never" value="@profile.Phone"></ejs-maskedtextbox>
                            </div>
                            <div class="col-sm-6">
                                <h6>@Html.DisplayNameFor(model => model.Email)</h6>
                                <ejs-textbox id="email" showClearButton="true" htmlAttributes="email"
                                             floatLabelType="Never" value="@profile.Email"></ejs-textbox>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>@Html.DisplayNameFor(model => model.Birthday)</h6>
                                <ejs-datepicker id="birthday" value="@profile.Birthday" htmlAttributes="birthday"
                                                format="dd/MM/yyyy"></ejs-datepicker>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <ejs-button id="submit" cssClass="e-info" content="Lưu thay đổi" htmlAttributes="submit"></ejs-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>